<% include ./partials/header %>
<div class="space intro-landing">
    <div class="intro-box">
    	<h3 class="putcenter">ABOUT</h3>
    </div>
</div>
<div class="container-fluid">
    <div class="row bg-white">
        <div class="container col-lg-6 col-md-6 col-sm-12">
	        <img class="about-page imagefull" src="/stylesheet/img/blog.jpg">
	    </div>
        <div class="container col-lg-6 col-md-6 col-sm-12">
          <p class="about-page fontsize"><b>Blogsfeed</b> is a tech blogspot where we provide the visitors with the <i> latest technologies</i> that are currently being used and are in demand in the industries. Our blogs provide a pathway for new develpers who wishes to build thier career in the <b>Computer Science Industry</b>.<br /><br />
          As developers we face many challenges and issues in day to day life while working on ideas that comes into our minds. It becomes ambiguous for one to choose which technology to use to get their ideas exist in real life. Blogsfeed provides coders with the information about the problem and their solution. </p>
        </div>
    </div>
    <div class="row padding-gap">
        <div class="container col-lg-12 col-md-12 col-sm-12">
	        <h4 class="putcenter">Team</h4>
        </div>
        <div class="container-fluid col-lg-4 col-md-6 col-sm-12">
            <div class="member" id="prash">
	            <div class="member-detail putcenter">Prashant Sharma<br>
                The Frontend Developer
	            </div>
	        </div>
        </div>
        <div class="container-fluid col-lg-4 col-md-6 col-sm-12">
            <div class="member" id="manu">
	            <div class="member-detail putcenter">Mayank Manu<br>
	            The Backend Developer
	            </div>
	        </div>
        </div>
        <div class="container-fluid col-lg-4 col-md-6 col-sm-12">
	        <div class="member" id="beejawat">
	            <div class="member-detail putcenter">Nitish Beejawat<br>
	            The Analyser
	            </div>
	        </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>